* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px 25px 0;
}

.header {
    background-color: #338DFF;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 22rem
}

footer p {
    text-align: center;
    margin-top: -3rem
}